input{border-width:expression(this.type=="radio"?'0px':this.type=="checkbox"?'0px':'1px')}
.pane-toggler + div{display:block}
#toolbar-box m{height:50px;padding-left:10px}
div.toolbar-list span{position:relative;margin:0}
div.toolbar-list a{position:relative}
#login-page .pagetitle h2{margin:0;padding:0}
:first-child+html .clearfix{min-height:1px}
div.width-20 fieldset.adminform,div.width-30 fieldset.adminform,div.width-35 fieldset.adminform,div.width-40 fieldset.adminform,div.width-45 fieldset.adminform,div.width-50 fieldset.adminform,div.width-55 fieldset.adminform,div.width-60 fieldset.adminform,div.width-65 fieldset.adminform,div.width-70 fieldset.adminform,div.width-80 fieldset.adminform,div.width-100 fieldset.adminform{zoom:1;margin-bottom:10px}
div.toggle-editor{margin-top:-5px;margin-bottom:5px}
table.adminlist{border-bottom-width:1px}
div.current dd{width:100%;position:relative}
div.current ul.menu-links{zoom:1;width:25%;list-style-position:inside;margin:0;padding:0}
input.readonly{border:0!important}
div#position-icon.pane-sliders div.pane-down div.icon-wrapper{margin:0}
div.pagetitle{height:auto}
div.pagetitle h2{min-height:48px}
fieldset.panelform fieldset.checkboxes.impunlimited{float:none;width:170px}
div#subheader,.menu-links li,.menu-links li label{height:2em}
div.article-edit,div.category-edit,div.pane-sliders,div.panel,div.pane-slider,div.rules-section,div.mypanel,div.containerpg,div.pagination,div.upload-queue{zoom:1}