body,div#sbox-content{font-size:12px;font-weight:700!important;color:#FFF;background-color:#000}
a:link,a:visited,a:active{color:#FFF;text-decoration:underline}
a:hover{color:#FFF;text-decoration:none}
table.adminform tr.row0{background-color:#f9f9f9}
table.admintable td.key,table.admintable td.paramlist_key{background-color:#000;color:#fff}
#batch-access,#batch-category-id,#filter_search,.filter-search button,input.text-area-order,.filter-select .inputbox,.batch button,#limit,.adminformlist select,.adminformlist input,.adminformlist textarea,.adminformlist input.readonly,#jform_id,#batch-menu-id,#upload-file,#upload-submit,#folderview input#folderpath,#foldername,#folderview button,.panelform textarea,.panelform select,.panelform input,.panelform button,.contentpane button,.adminform button,.adminform textarea,.adminform input,.adminform select{background-color:#000;color:#fff;font-weight:700}
.filter-search button:hover{background-color:#383838}
#border-bottom div div{background:none;height:11px}
legend{color:#fff;font-size:14px;font-weight:700}
#header-box{border:1px solid #ccc;background:#000}
#menu li{border-left:1px solid #fff;border-right:1px solid #d8d8d8}
#menu li li{border:0}
#menu ul{border:.1em solid #ccc;background:#000;font-weight:700!important}
#menu ul li.node{background:transparent url(../images/j_arrow.png) no-repeat right 50%;font-weight:700!important}
#menu ul li.separator{background:#000 url(../images/bg-menu.gif);height:1px}
#menu a,#menu div{color:#FFF;font-weight:700!important}
#menu a:hover{color:#000;font-weight:700!important}
#menu li.disabled a{color:#acacac}
#menu li.hover a{color:0;background-color:#e8e8e8;border-left:1px solid #025a8d;border-right:1px solid #025a8d;font-weight:700!important;margin:0}
#submenu-box{background:#000;margin-bottom:10px}
#submenu span.nolink{color:#999}
table.adminlist{background-color:#000;color:#fff;border-top:1px solid #fff}
table.adminlist thead th{background:#000;color:#fff;border-right:1px solid #fff}
.pane-sliders .panel h3{background:#000;color:#fff}
#permissions-sliders ul#rules table.group-rules th{background:none repeat scroll 0 0 #383838;color:#fff}
.tip{background:none repeat scroll 0 0 #000;border:1px solid #D4D5AA;color:#fff}
#cpanel div.icon a{border:1px solid #f0f0f0;color:#fff;background:#000}
#cpanel div.icon a:hover{color:#fff;background:#000}
#content-box{border-bottom:1px solid #ccc;padding-bottom:10px;background:#000}
.mooTree_selected{background-color:#999!important}
#system-message dd.message ul{background:#000 url(../images/notice-info.png) 4px center no-repeat}
#system-message dd.error ul{color:#fff;background:#000 url(../images/notice-alert.png) 4px top no-repeat;border-top:3px solid #666;border-bottom:3px solid #666}
#system-message dd.notice ul{color:#fff;background:#000 url(../images/notice-note.png) 4px top no-repeat;border-top:3px solid #666;border-bottom:3px solid #666}
div.pagetitle h2{color:#FFF}
.button2-left a,.button2-right a{color:#000}
.pane-toggler a,.pane-toggler-down a{text-decoration:none}
div.toolbar-list a{border:1px solid #000}
div.editor-border,div.CodeMirror-wrapping{background-color:#FFF}
#border-top.h_green,#border-top.h_green div,#border-top.h_green div div,#border-top.h_teal,#border-top.h_teal div,#border-top.h_teal div div,#border-top.h_cherry,#border-top.h_cherry div,#border-top.h_cherry div div,#border-top.h_blue,#border-top.h_blue div,#border-top.h_blue div div,#border-bottom div,#border-bottom{background:none}
table.adminform,table.adminform tr.row1,table.adminlist tbody tr,table.adminlist tbody tr.row0:hover td,table.adminlist tbody tr.row1:hover td,table.adminlist tfoot td,table.adminlist tfoot th,div#element-box div.m,div#toolbar-box div.m,div#submenu-box div.m,form#weblink-form fieldset,form#item-form fieldset,fieldset.batch,tr.row1,div.width-30 fieldset,div.width-35 fieldset,div.width-40 fieldset,div.width-45 fieldset,div.width-50 fieldset,div.width-55 fieldset,div.width-60 fieldset,div.width-65 fieldset,div.width-70 fieldset,div.width-100 fieldset{background-color:#000}
table.adminform th,div.current span.spacer > span.text label,fieldset.adminform span.spacer > span.text label,fieldset.panelform span.spacer > span.text label,div.toolbar-list a:hover,div.toolbar-list a:focus,div.toolbar-list a:active,div.header,#submenu li a,#submenu span.nolink,#submenu a.active,#submenu span.nolink.active,table.adminlist tfoot tr,.pane-sliders .title,#permissions-sliders ul#rules li h3.pane-toggler-down,#system-message dd ul{color:#fff}
div#element-box,div#toolbar-box,div#element-box div.section-box,table.adminlist tbody tr.row1,table.adminlist tbody tr td,table.adminlist tbody tr.row1 td,.pane-sliders .content,#folderframe,#mediamanager-form,body.contentpane,.manager{background:#000}
#menu li.hover li a,#menu li.hover li.hover li a{background-color:transparent;border:0 none;color:0;font-weight:700!important;margin:2px}
#menu li.hover li.hover a,#menu li.hover li.hover li a:hover{background-color:#e8e8e8;border:1px solid #025a8d;color:0;font-weight:700!important;margin:1px}
#permissions-sliders ul#rules .panel h3,#permissions-sliders ul#rules,#permissions-sliders ul#rules ul,#permissions-sliders ul#rules .mypanel,div#position-icon.pane-sliders .icon,#submenu a:hover,#submenu a.active,#submenu span.nolink.active,table#acl-config th{background:none repeat scroll 0 0 #000}